#Ignore json
*.json
#Ignore sbi
*.sbi
#Ignore bam
*.bam
#Ignore fam
*.fam
#Ignore bcf
*.bcf
#Ignore vcf 
*.vcf
#Ignore txt 
*.txt
#Ignore csi
*.csi
#Ignore bai
*.bai
#Ignore gz
*.gz
#Ignore tbi
*.tbi
#Ignore ~
*~
#Ignore idx
*.idx
#Ignore fai
*.fai
#Ignore fasta
*.fasta
#Ignore pdf
*.pdf
*.bim
*.sam
*.tmp
*.log
*#*